/* TODO: переименовать названия, белый - это не праймари */
:root {
    --color-primary: #FFFFFF;
    --color-secondary: #000000;

    --color-light-white: #F1F1F1;
    --color-lighter-white: #D2D2D2;

    --color-warning: #F4C959;

    --color-error: #ff1616;
    --color-error-dark: #b00000;

    --color-success: #008180;
    --color-success-dark: #026463;

    --font-family: 'Manrope', sans-serif;
}
